<!-- Sign Up Page -->
<form [formGroup]="signUpForm" (ngSubmit)="signUpUser()" class="alert alert-success">
    <h3 class="text-secondary">Sign Up</h3>

    <input type="text" formControlName="vatNumber" placeholder="VAT number">
    @if(vatNumber!.hasError('required') && vatNumber?.touched){
        <div class=" text-danger">VAT Number is Required</div>
    }
    @if(vatNumber?.hasError('pattern') && vatNumber?.touched){
        <div class=" text-danger">VAT Number must consist of numbers...</div>
    }
    <br><br>

    <input type="text" formControlName="name" placeholder="Name">
    @if(name!.hasError('required') && name?.touched){
        <div class=" text-danger">Name is Required</div>
    }
    @if(name?.hasError('pattern') && name?.touched){
        <div class=" text-danger">Name must consist of upper or lower case letters...</div>
    }
    <br><br>

    <input type="text" formControlName="surname" placeholder="Surname">
    @if(surname!.hasError('required') && surname?.touched){
        <div class=" text-danger">Surname is Required</div>
    }
    @if(surname?.hasError('pattern') && surname?.touched){
        <div class=" text-danger">Surname must consist of upper or lower case letters...</div>
    }
    <br><br>

    <input type="text" formControlName="address" placeholder="Address">
    @if(address!.hasError('required') && address?.touched){
        <div class=" text-danger">Address is Required</div>
    }
    <br><br>

    <input type="text" formControlName="phoneNumber" placeholder="Phone number">
    @if(phoneNumber!.hasError('required') && phoneNumber?.touched){
        <div class=" text-danger">Phone Number is Required</div>
    }
    @if(phoneNumber?.hasError('pattern') && phoneNumber?.touched){
        <div class=" text-danger">Phone Number must consist of numbers...</div>
    }
    <br><br>

    <input type="text" formControlName="email" placeholder="E-mail">
    @if(email!.hasError('required') && email?.touched){
        <div class=" text-danger">Email Required</div>
    }
    @if(email?.hasError('email') && email?.touched){
        <div class=" text-danger">Email must have a specific format... (technico)&#64;(app.ed) </div>
    }
    <br><br>

    <input type="text" formControlName="password" placeholder="Password">
    @if(password?.hasError('required') && password?.touched){
        <div class=" text-danger">Password is Required</div>
    }
    @if(password?.hasError('minlength') && password?.touched){
        <div class=" text-danger">Password Must have at least {{ minLen }} letters</div>
    }
    @if(password?.hasError('pattern') && password?.touched){
        <div class=" text-danger">Password must have only letters</div>
        }
    <br><br>

    <select type="text" formControlName="typeOfUser" class="form-select">
        <option>Select Type of User...</option>
        @for (type of types; track $index) {
            <option>{{ type }}</option>
        }
    </select>
    @if(typeOfUser?.hasError('pattern') && typeOfUser?.touched){
        <div class=" text-danger">Please select a User Type...</div>
        }
    <br><br>

    <button [disabled]="signUpForm.invalid" class="btn btn-primary">{{ signUpButtonText }}</button>
</form>
<!-- Error Message Display -->
@if (errorMessage){
    <div class="container alert alert-danger">
        <h5>{{ errorMessage }}</h5>
    </div>
}
<!-- Link to the Log In Page -->
<p>Already Signed Up? <a [routerLink]="['/login']" routerLinkActive="active">Log In!</a></p>

