<form [formGroup]="loginForm" (ngSubmit)="loginUser()" class="alert alert-primary">
    <h3 class="text-secondary">Log In Form</h3>

    <input type="text" formControlName="email" placeholder="E-mail">
    @if(email!.hasError('required') && email?.touched){
        <div class=" text-danger">Email Required</div>
    }
    @if(email?.hasError('email') && email?.touched){
        <div class=" text-danger">Email must have a specific format... (technico)&#64;(app.ed) </div>
    }

    <br><br>
    <input type="text" formControlName="password" placeholder="Password">
    @if(password?.hasError('required') && password?.touched){
        <div class=" text-danger">Password is Required</div>
    }
    @if(password?.hasError('minlength') && password?.touched){
        <div class=" text-danger">Password Must have at least {{ minLen }} letters</div>
    }
    @if(password?.hasError('pattern') && password?.touched){
        <div class=" text-danger">Password must have only letters</div>
        }


    <br><br>
    <button [disabled]="loginForm.invalid" class="btn btn-success">{{ logInButtonText }}</button>
</form>
<br>
<p>Don't have a profile yet? <a [routerLink]="['/signup']" routerLinkActive="active">Sign Up!</a></p>
<br>
@if (errorMessage){
    <div class="container alert-danger">
        <pre>{{ errorMessage }}</pre>
    </div>
}