<!-- User Page -->
<div class="container alert alert-info mt-1">
  <div class="container">
    <button (click)="editUser()" class="btn btn-warning">Edit My Profile</button>
  </div>
  <div>
    <!-- Show Custom Welcome Message -->
    <h3>Welcome {{ userLoggedIn?.name }}!</h3>
  </div>
  <div>
    <!-- Show the correct page depending on the type  of the Logged In User -->
    @if (typeOfUser == 'ADMIN') {
      <app-admin/>
    }@else if (typeOfUser == 'OWNER') {
      <app-owner/>
    }@else {
      <p>{{ message }}</p>
    }
  </div>
  <button (click)="deleteUser()" class="btn btn-warning btn-sm position-absolute bottom-0 end-0 mb-2 me-2"
          onmouseover="this.classList.replace('btn-warning', 'btn-danger')" onmouseout="this.classList.replace('btn-danger', 'btn-warning')">
    Delete My Profile
  </button>
</div>